@font-face {
  font-family: 'raleway';
  src: url('raleway_thin-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background: linear-gradient(
    #111,
    #222,
    #9f00a5
  );
  background-attachment: fixed;
}

section {
  background-color: rgba(1, 1, 1, 0.7);
  width: 48%;
  margin-top: 5vh;
  position: absolute;
  z-index: 2;
}

section:first-child {
  position: fixed;
}

section.article {
  right: 0;
}

section article {
  display: none;
}

section article.selected {
  display: block;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

.content {
  color: #eee;
  padding: 20px;
  font-family: raleway;
  font-size: 1.5rem;
  line-height: 2.5rem;
  -webkit-text-stroke: 0.5px;
}

.content a:before {
  content: '⫸ ';
}

.content a.selected:before, .content a:hover {
  color: #d50095;
}

.article {
  background-color: rgba(1, 1, 1, 0.8);
  color: #eee;
}

article {
  padding: 20px 40px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-family: raleway;
  -webkit-text-stroke: 0.5px;
}

a {
  color: #eee;
  display: block;
  text-decoration: none;
}

video {
  opacity: 0.5;
}

canvas {
  position: fixed;
  z-index: 1;
}